html {
    font-family: "Source Code Pro", monospace;
}

body {
    font-weight: lighter;
    margin: 0;
    background-color: #262626;
}

<!-- /*INDEX*/ -->

body #myname {
    font-size: 30px;
}

body #description {
    font-size: 20px;
    padding-top: 1%;

}

.center_img {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    width: 12%;
    height: auto;
    border: solid 3px #e9967a; /*#96DA01*/
}

.navbar {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li {
    display: inline;
    float: left;
}

.navbar ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}

.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 22px;
}

.navbar li a.active {
    color: #fa8072;
}

.navbar li a:hover {
    color: #fa8072;
    transition: 1s;
}

#logo-name {
    font-style: italic;
}

#logo-name ul {
    float: left;
}

#logo-name li {
    float: right;
}

#text-main {
    text-align: center;
}

#text-main h1 {
    padding: 0;
    margin-left: 40%;
    margin-right: 40%;
    color: #ffffff;
    text-align: center;
}

#text-main h2 {
    margin-left: 25%;
    margin-right: 25%;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
}

.aboutme,
.cv,
.contact{
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
    border: solid 2px #e9967a;
    border-radius: 6px;
    outline: none;
}

.button {
    text-decoration: none;
    color: #ffffff;
}

.button:hover {
    color: #fa8072;
    transition: 1s;
    background: #404040;
}

.network {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
}

.fb,
.github,
.linkedin {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 2px #fa8072;
}

.fb:hover,
.github:hover,
.linkedin:hover {
    transition: 0.5s;
    opacity: 0.3;
    font-size: 120%;
}

<!-- /*ABOUTME*/ -->

.left_img {
    display: block;
    margin-top: 7%;
    margin-left: 10%;
    border-radius: 20%;
    width: 12%;
    height: auto;
    border: solid 3px #e9967a; /*#96DA01*/
}


body #myname-aboutme{
    text-align: left;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #ffffffff;
}

body #superscription{
    text-align: left;
    margin-left: 9%;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #ffffffff;

}

.navbar-aboutme {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-aboutme li {
    display: inline;
    float: left;
}

.navbar-aboutme ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}

.navbar-aboutme li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 22px;
}

.navbar-aboutme li a.active {
    color: #fa8072;
}

.navbar-aboutme li a:hover {
    color: #fa8072;
    transition: 1s;
}

#logo-name {
    font-style: italic;
}

#logo-name ul {
    float: left;
}

#logo-name li {
    float: right;
}

.aboutme-cv{
    text-align: center;
    display: inline-block;
    margin-top: 2%;
    margin-left: 11%;
    padding: 10px 20px;
    border: solid 2px #e9967a;
    border-radius: 6px;
    outline: none;
}
.aboutme-contact{
    text-align: center;
    display: inline-block;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 5px;
    padding: 10px 20px;
    border: solid 2px #e9967a;
    border-radius: 6px;
    outline: none;
}

.aboutme-cv:hover,
.aboutme-contact:hover {
    cursor: pointer;
    transition: 1s;
    background: #404040;
    color: #fa8072;
}


.network-aboutme{
    text-align: left;
    margin-top: 40px;
    margin-left: 11%;
    padding-top: 20px;

}

.fb-me,
.github-me,
.linkedin-me {
    margin-left: 3px;
    padding-left: 1px;
    padding-right: 1px;
    border-bottom: solid 2px #fa8072;

}

.fb-me:hover,
.github-me:hover,
.linkedin-me:hover {
    transition: 0.5s;
    opacity: 0.3;
    font-size: 120%;
}


.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

.right-main { grid-area: 1 / 2 / 2 / 3; }

.left-main { grid-area: 1 / 1 / 2 / 3; }

.header-aboutme{
    margin-top: 6%;
    color: #e9967a;
}

hr.solid{
    border: 1px solid #e9967a;
    margin-right: 300px;
    opacity: 50%;

}

.text-aboutme p{
    color: #ffffff;
    margin-right: 300px;
    font-weight: bold;
}

.header-awards{
    margin-top: 4%;
    color: #e9967a;
}

.header-interests{
    margin-top: 2%;
    margin-bottom: 20px;
    color: #e9967a;
}

.backNfront{
    margin-top: 20px;
}

.back,
.front,
.backText,
.frontText{
    text-align: center;
    display: inline;
}

.back,
.front{
    margin-right: 20px;
    margin-left: 20px;
}

.backText,
.frontText{
    color: #ffffff;
    margin-bottom: 20px;
}

.back:hover,
.front:hover{
    transition: 1s;
    opacity: 0.3;
}

.header-skills{
    margin-top: 2%;
    color: #e9967a;
}

